<%- include ../layout/head.ejs%>

<div class="main-panel">
  <div class="content-wrapper">
    <div class="row ">
      <div class="col-md-12 stretch-card grid-margin">
        <form class="info-wrapper">
          <ul class=" left-wrapper">
            <li>
              商品简介：<input
                class="shopIntro"
                type="text"
                autofocus
                name="shopIntro"
                required
              />
            </li>
            <li>
              商品价格：<input
                type="text"
                autofocus
                name="shopPrice"
                required
              />
            </li>
            <li>
              商品重量：<input
                type="text"
                autofocus
                name="shopWeight"
                required
              />
            </li>
            <li>
              后置摄像头像素：<input
                type="text"
                autofocus
                name="behindMirror"
                required
              />
            </li>
            <li>
              前置摄像头像素：<input
                type="text"
                autofocus
                name="frontMiror"
                required
              />
            </li>
            <li>核 数：<input type="text" name="cpuNumber" required /></li>
            <li>最大频率(GHz)：<input type="text" name="maxHz" required /></li>
            <li>最小频率(GHz)：<input type="text" name="minHz" required /></li>
            <li>
              商品名称：<input type="text" autofocus name="shopName" required />
            </li>
            <li>商品编号：<input type="text" name="orderNumber" required /></li>
            <li>
              机身厚度(mm)：<input type="text" name="thickness" required />
            </li>
            <li>
              拍照特点：<input type="text" name="photoFeature" required />
            </li>
            <li>
              最大电池容量(mAh)：<input
                type="text"
                name="maxBattery"
                required
              />
            </li>
            <li>
              最小电池容量(mAh)：<input
                type="text"
                name="minBattery"
                required
              />
            </li>
            <li>
              屏幕配置：<input type="text" name="screenConfig" required />
            </li>
            <li>热 点：<input type="text" name="hotFeature" required /></li>
            <li>运行内存(GB)：<input type="text" name="runCpu" required /></li>
            <li>网络制式：<input type="text" name="netType" required /></li>
            <li>游戏配置：<input type="text" name="gameConfig" required /></li>
            <li>
              机身内存(GB)：<input type="text" name="phoneCpu" required />
            </li>
          </ul>
          <div class="btn-wrapper">
              
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- 底部版权面板开始 -->
  <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span
        class="text-muted text-center text-sm-left d-block d-sm-inline-block"
        >Copyright © 2019 <a href="" target="_blank">BootstrapDash</a>. All
        rights reserved.
      </span>
    </div>
  </footer>
  <!-- 底部版权面板结束 -->
</div>




<%- include ../layout/footer.ejs%>
