<%- include ../layout/head.ejs%>

<div class="main-panel">
  <div class="content-wrapper">
    <div class="row detail-wrapper">
      <div class="col-md-5 stretch-card grid-margin">
        <div class="card  card-img-holder text-white">
          <div class="card-body">
            <div class="img-wrapper">
              <img
                src="https://img12.360buyimg.com/n7/jfs/t1/12201/24/6735/222034/5c60e01aEf9147784/8773086c82c1f708.jpg"
                alt=""
              />
            </div>
            <p class="text">
              【独角精灵版】三星 Galaxy A8s
              6GB+128GB莓什么（SM-G8870）黑瞳全视屏手机 全网通4G 双卡双待
            </p>
          </div>
        </div>
      </div>
      <section class="col-md-7 desc-wrapper">
        <h5>
          <span class="branch">精品</span>
          【独角精灵版】三星 Galaxy A8s
          6GB+128GB莓什么（SM-G8870）黑瞳全视屏手机 全网通4G 双卡双待
        </h5>
        <div class="price-wrapper">
          <span class="price">优惠价</span>
          <span class="icon">￥</span>
          <span>2799.00</span>
        </div>
        <div class="weight-wrapper">
          <span class="weight">重 &nbsp &nbsp &nbsp &nbsp量</span>
          <span>0.42kg</span>
        </div>
        <h6>商品介绍</h6>
        <ul class="config-wrapper">
          <li>
            <img src="/images/shopdetail/phone.png" alt="" />
            <span>分辨率：2340*1080</span>
          </li>
          <li>
            <img src="/images/shopdetail/mirror.png" alt="" />
            <div class="msg-wrapper">
              <p>
                后置摄像头：2400万像素
              </p>
              <p>前置摄像头：2400万像素</p>
            </div>
          </li>
          <li>
            <img src="/images/shopdetail/cpu.png" alt="" />
            <div class="msg-wrapper">
              <p><span>核 &nbsp&nbsp&nbsp数：</span>八核</p>
              <p><span>频 &nbsp&nbsp&nbsp率：</span>2.2GHz,1.7GHz</p>
            </div>
          </li>
        </ul>
        <ul class="info-wrapper">
          <li class="branch">品牌：<span>三星（SAMSUNG）</span></li>
          <li>商品名称：三星A8s</li>
          <li>商品编号：100002997682</li>
          <li>商品毛重：420.00g</li>
          <li>商品产地：中国大陆</li>
          <li>系统：安卓（Android）</li>
          <li>机身厚度：薄（7mm-8.5mm）</li>
          <li>拍照特点：光学变焦，后置三摄</li>
          <li>电池容量：3000mAh-3999mAh</li>
          <li>屏幕配置：符合全面屏比例</li>
          <li>机身颜色：粉色系</li>
          <li>热点：人脸识别，NFC功能，人工智能</li>
          <li>运行内存：6GB</li>
          <li>前置摄像头像素：2000万及以上</li>
          <li>后置摄像头像素：2000万及以上</li>
          <li>网络制式：4G LTE全网通</li>
          <li>游戏配置：游戏模式，ID差异化设计</li>
          <li>机身内存：128GB</li>
        </ul>
        <div class="btn-wrapper">
          <a href="javascript:;" class="update">更新商品</a>
          <a href="javascript:;" class="detele">删除商品</a>
        </div>
      </section>
    </div>
  </div>

  <!-- 底部版权面板开始 -->
  <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span
        class="text-muted text-center text-sm-left d-block d-sm-inline-block"
        >Copyright © 2019 <a href="" target="_blank">BootstrapDash</a>. All
        rights reserved.
      </span>
    </div>
  </footer>
  <!-- 底部版权面板结束 -->
</div>

<%- include ../layout/footer.ejs%>
